<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  padding: 5px;
  flex: 50%;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

#imageHeader {
     margin-left: 30px
}


.next {
    background-color:#4caff0;
    color:black;
    border-radius: 100px;
}

*[data-highlight="complete"] {
  position: relative;
}

*[data-highlight="complete"]:after {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  margin-top: -30px;
  left: 0;
  height: 45px;
  width: 100%;
  background: rgba(0, 0, 0, 0.25);
}

*[data-highlight="positive"] {
  position: relative;
}

*[data-highlight="positive"]:after {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  margin-top: -30px;
  left: 0;
  height: 45px;
  width: 100%;
  background: rgba(255, 0, 0, 0.25);
}

*[data-highlight="active"] {
  position: relative;
}

*[data-highlight="active"]:after {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  margin-top: -30px;
  left: 0;
  height: 45px;
  width: 100%;
  outline-style: solid;
  outline-color: black
}

    #testTubeBottom > *{
        width:5vw;
        display: inline-block;
    }

.img-with-text {
    text-align: justify;
    display: inline-block;
}

.img-with-text input {
    display: inline-block;
    margin: 0 auto;

}

.btTxt {
    width: 40px;
    height: 40px;
}

/* Style buttons */
.btn {
  background-color: DodgerBlue; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}



</style>
</head>
<body onload="createTestTubes(); setActiveGroup(); updateFromSave();">

<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% load static %}
<div class="row">

    <h1 id="titleHeader"></h1>
    <img src="{% static 'imageInteraction/imageHeaderTop.PNG' %}" width="610px" id="imageHeader">
    <br>
    <div class="column">
        <img src="{% static 'imageInteraction/sideBarHeader.PNG' %}" width="25px" height="362px">
    </div>

    <div class="column">

        <a href="#" data-highlight="incomplete" id="A1-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="A1" onclick="changeImage(this);" /></a>
        <br>
        <a href="#" data-highlight="incomplete" id="B1-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="B1" onclick="changeImage(this);"/></a>
        <br>
        <a href="#" data-highlight="incomplete" id="C1-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="C1" onclick="changeImage(this);"/></a>
        <br>
        <a href="#" data-highlight="incomplete" id="D1-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="D1" onclick="changeImage(this);"/></a>
        <br>
        <a href="#" data-highlight="incomplete" id="E1-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="E1" onclick="changeImage(this);"/></a>
        <br>
        <a href="#" data-highlight="incomplete" id="F1-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="F1" onclick="changeImage(this);"/></a>
        <br>
        <a href="#" data-highlight="incomplete" id="G1-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="G1" onclick="changeImage(this);"/></a>
        <br>
        <a href="#" data-highlight="incomplete" id="H1-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="H1" onclick="changeImage(this);"/></a>
        <br>
    </div>
    <div class="column">
        <a href="#" data-highlight="incomplete" id="A2-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="A2" onclick="changeImage(this);" /></a>
        <br>
        <a href="#" data-highlight="incomplete" id="B2-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="B2" onclick="changeImage(this);"/></a>
        <br>
        <a href="#" data-highlight="incomplete" id="C2-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="C2" onclick="changeImage(this);"/></a>
        <br>
        <a href="#" data-highlight="incomplete" id="D2-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="D2" onclick="changeImage(this);"/></a>
        <br>
        <a href="#" data-highlight="incomplete" id="E2-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="E2" onclick="changeImage(this);"/></a>
        <br>
        <a href="#" data-highlight="incomplete" id="F2-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="F2" onclick="changeImage(this);"/></a>
        <br>
        <a href="#" data-highlight="incomplete" id="G2-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="G2" onclick="changeImage(this);"/></a>
        <br>
        <a href="#" data-highlight="incomplete" id="H2-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="H2" onclick="changeImage(this);"/></a>
        <br>
    </div>
    <div class="column">
        <a href="#" data-highlight="incomplete" id="A3-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="A3" onclick="changeImage(this);" /></a>
        <br>
        <a href="#" data-highlight="incomplete" id="B3-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="B3" onclick="changeImage(this);"/></a>
        <br>
        <a href="#" data-highlight="incomplete" id="C3-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="C3" onclick="changeImage(this);"/></a>
        <br>
        <a href="#" data-highlight="incomplete" id="D3-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="D3" onclick="changeImage(this);"/></a>
        <br>
        <a href="#" data-highlight="incomplete" id="E3-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="E3" onclick="changeImage(this);"/></a>
        <br>
        <a href="#" data-highlight="incomplete" id="F3-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="F3" onclick="changeImage(this);"/></a>
        <br>
        <a href="#" data-highlight="incomplete" id="G3-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="G3" onclick="changeImage(this);"/></a>
        <br>
        <a href="#" data-highlight="incomplete" id="H3-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="H3" onclick="changeImage(this);"/></a>
        <br>
    </div>
    <div class="column">
        <a href="#" data-highlight="incomplete" id="A4-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="A4" onclick="changeImage(this);" /></a>
        <br>
        <a href="#" data-highlight="incomplete" id="B4-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="B4" onclick="changeImage(this);"/></a>
        <br>
        <a href="#" data-highlight="incomplete" id="C4-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="C4" onclick="changeImage(this);"/></a>
        <br>
        <a href="#" data-highlight="incomplete" id="D4-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="D4" onclick="changeImage(this);"/></a>
        <br>
        <a href="#" data-highlight="incomplete" id="E4-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="E4" onclick="changeImage(this);"/></a>
        <br>
        <a href="#" data-highlight="incomplete" id="F4-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="F4" onclick="changeImage(this);"/></a>
        <br>
        <a href="#" data-highlight="incomplete" id="G4-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="G4" onclick="changeImage(this);"/></a>
        <br>
        <a href="#" data-highlight="incomplete" id="H4-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="H4" onclick="changeImage(this);"/></a>
        <br>
    </div>
   <div class="column">
        <a href="#" data-highlight="incomplete" id="A5-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="A5" onclick="changeImage(this);" /></a>
        <br>
        <a href="#" data-highlight="incomplete" id="B5-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="B5" onclick="changeImage(this);"/></a>
        <br>
        <a href="#" data-highlight="incomplete" id="C5-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="C5" onclick="changeImage(this);"/></a>
        <br>
        <a href="#" data-highlight="incomplete" id="D5-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="D5" onclick="changeImage(this);"/></a>
        <br>
        <a href="#" data-highlight="incomplete" id="E5-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="E5" onclick="changeImage(this);"/></a>
        <br>
        <a href="#" data-highlight="incomplete" id="F5-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="F5" onclick="changeImage(this);"/></a>
        <br>
        <a href="#" data-highlight="incomplete" id="G5-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="G5" onclick="changeImage(this);"/></a>
        <br>
        <a href="#" data-highlight="incomplete" id="H5-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="H5" onclick="changeImage(this);"/></a>
        <br>
    </div>
    <div class="column">
        <a href="#" data-highlight="incomplete" id="A6-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="A6" onclick="changeImage(this);" /></a>
        <br>
        <a href="#" data-highlight="incomplete" id="B6-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="B6" onclick="changeImage(this);"/></a>
        <br>
        <a href="#" data-highlight="incomplete" id="C6-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="C6" onclick="changeImage(this);"/></a>
        <br>
        <a href="#" data-highlight="incomplete" id="D6-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="D6" onclick="changeImage(this);"/></a>
        <br>
        <a href="#" data-highlight="incomplete" id="E6-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="E6" onclick="changeImage(this);"/></a>
        <br>
        <a href="#" data-highlight="incomplete" id="F6-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="F6" onclick="changeImage(this);"/></a>
        <br>
        <a href="#" data-highlight="incomplete" id="G6-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="G6" onclick="changeImage(this);"/></a>
        <br>
        <a href="#" data-highlight="incomplete" id="H6-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="H6" onclick="changeImage(this);"/></a>
        <br>
    </div>
   <div class="column">
        <a href="#" data-highlight="incomplete" id="A7-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="A7" onclick="changeImage(this);" /></a>
        <br>
        <a href="#" data-highlight="incomplete" id="B7-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="B7" onclick="changeImage(this);"/></a>
        <br>
        <a href="#" data-highlight="incomplete" id="C7-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="C7" onclick="changeImage(this);"/></a>
        <br>
        <a href="#" data-highlight="incomplete" id="D7-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="D7" onclick="changeImage(this);"/></a>
        <br>
        <a href="#" data-highlight="incomplete" id="E7-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="E7" onclick="changeImage(this);"/></a>
        <br>
        <a href="#" data-highlight="incomplete" id="F7-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="F7" onclick="changeImage(this);"/></a>
        <br>
        <a href="#" data-highlight="incomplete" id="G7-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="G7" onclick="changeImage(this);"/></a>
        <br>
        <a href="#" data-highlight="incomplete" id="H7-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="H7" onclick="changeImage(this);"/></a>
        <br>
    </div>
    <div class="column">
        <a href="#" data-highlight="incomplete" id="A8-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="A8" onclick="changeImage(this);" /></a>
        <br>
        <a href="#" data-highlight="incomplete" id="B8-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="B8" onclick="changeImage(this);"/></a>
        <br>
        <a href="#" data-highlight="incomplete" id="C8-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="C8" onclick="changeImage(this);"/></a>
        <br>
        <a href="#" data-highlight="incomplete" id="D8-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="D8" onclick="changeImage(this);"/></a>
        <br>
        <a href="#" data-highlight="incomplete" id="E8-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="E8" onclick="changeImage(this);"/></a>
        <br>
        <a href="#" data-highlight="incomplete" id="F8-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="F8" onclick="changeImage(this);"/></a>
        <br>
        <a href="#" data-highlight="incomplete" id="G8-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="G8" onclick="changeImage(this);"/></a>
        <br>
        <a href="#" data-highlight="incomplete" id="H8-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="H8" onclick="changeImage(this);"/></a>
        <br>
    </div>
    <div class="column">
        <a href="#" data-highlight="incomplete" id="A9-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="A9" onclick="changeImage(this);" /></a>
        <br>
        <a href="#" data-highlight="incomplete" id="B9-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="B9" onclick="changeImage(this);"/></a>
        <br>
        <a href="#" data-highlight="incomplete" id="C9-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="C9" onclick="changeImage(this);"/></a>
        <br>
        <a href="#" data-highlight="incomplete" id="D9-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="D9" onclick="changeImage(this);"/></a>
        <br>
        <a href="#" data-highlight="incomplete" id="E9-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="E9" onclick="changeImage(this);"/></a>
        <br>
        <a href="#" data-highlight="incomplete" id="F9-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="F9" onclick="changeImage(this);"/></a>
        <br>
        <a href="#" data-highlight="incomplete" id="G9-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="G9" onclick="changeImage(this);"/></a>
        <br>
        <a href="#" data-highlight="incomplete" id="H9-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="H9" onclick="changeImage(this);"/></a>
        <br>
    </div>
    <div class="column">
        <a href="#" data-highlight="incomplete" id="A10-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="A10" onclick="changeImage(this);" /></a>
        <br>
        <a href="#" data-highlight="incomplete" id="B10-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="B10" onclick="changeImage(this);"/></a>
        <br>
        <a href="#" data-highlight="incomplete" id="C10-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="C10" onclick="changeImage(this);"/></a>
        <br>
        <a href="#" data-highlight="incomplete" id="D10-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="D10" onclick="changeImage(this);"/></a>
        <br>
        <a href="#" data-highlight="incomplete" id="E10-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="E10" onclick="changeImage(this);"/></a>
        <br>
        <a href="#" data-highlight="incomplete" id="F10-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="F10" onclick="changeImage(this);"/></a>
        <br>
        <a href="#" data-highlight="incomplete" id="G10-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="G10" onclick="changeImage(this);"/></a>
        <br>
        <a href="#" data-highlight="incomplete" id="H10-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="H10" onclick="changeImage(this);"/></a>
        <br>
    </div>
    <div class="column">
        <a href="#" data-highlight="incomplete" id="A11-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="A11" onclick="changeImage(this);" /></a>
        <br>
        <a href="#" data-highlight="incomplete" id="B11-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="B11" onclick="changeImage(this);"/></a>
        <br>
        <a href="#" data-highlight="incomplete" id="C11-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="C11" onclick="changeImage(this);"/></a>
        <br>
        <a href="#" data-highlight="incomplete" id="D11-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="D11" onclick="changeImage(this);"/></a>
        <br>
        <a href="#" data-highlight="incomplete" id="E11-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="E11" onclick="changeImage(this);"/></a>
        <br>
        <a href="#" data-highlight="incomplete" id="F11-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="F11" onclick="changeImage(this);"/></a>
        <br>
        <a href="#" data-highlight="incomplete" id="G11-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="G11" onclick="changeImage(this);"/></a>
        <br>
        <a href="#" data-highlight="incomplete" id="H11-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="H11" onclick="changeImage(this);"/></a>
        <br>
    </div>
    <div class="column">
        <a href="#" data-highlight="incomplete" id="A12-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="A12" onclick="changeImage(this);" /></a>
        <br>
        <a href="#" data-highlight="incomplete" id="B12-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="B12" onclick="changeImage(this);"/></a>
        <br>
        <a href="#" data-highlight="incomplete" id="C12-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="C12" onclick="changeImage(this);"/></a>
        <br>
        <a href="#" data-highlight="incomplete" id="D12-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="D12" onclick="changeImage(this);"/></a>
        <br>
        <a href="#" data-highlight="incomplete" id="E12-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="E12" onclick="changeImage(this);"/></a>
        <br>
        <a href="#" data-highlight="incomplete" id="F12-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="F12" onclick="changeImage(this);"/></a>
        <br>
        <a href="#" data-highlight="incomplete" id="G12-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="G12" onclick="changeImage(this);"/></a>
        <br>
        <a href="#" data-highlight="incomplete" id="H12-anchor"><input type="image" src="{% static 'imageInteraction/WellImage_empty.PNG' %}" name="saveForm" class="btTxt" id="H12" onclick="changeImage(this);"/></a>
        <br>
    </div>
    <button id="nextButton" type="button" onClick="isNext();">Next</button>
    <button type="button" onClick="nextPlate();">Next Plate</button>
    <button type="button" onClick="postToDB();">Save Experiment</button>
    <button type="button" onclick="finishExperiment();">Done</button>
    <!-- open the modal window -->
    <button class="btn"><i class="fa fa-info"></i></button>



</div>

<div class="row" id="testTubeBottom">



</div>
<br>
<br>
<br>

<label for="notesEnter">Notes for this stage:</label>
<textarea id="notesEnter" name="noteEnter" rows="4" cols="50">Enter Your Notes here</textarea>
  <br><br>
<button type="submit" value="Submit" onclick="notesFunction();">Submit Notes</button>

</body>

<script>



    var complete = {{ data|safe }}['completed_status'];

    var currentGroup = JSON.parse({{data|safe}}['current_interaction'])['currentGroup'];
    var currentlySelectedAll = JSON.parse({{data|safe}}['current_interaction'])['currentlySelectedAll'];

    var pythonDictAllStages = JSON.parse({{data|safe}}['current_interaction'])['pythonDictAllStages'];
    var groupedPools = pythonDictAllStages['0'][0];



    var listOfAllCompleted = JSON.parse({{data|safe}}['current_interaction'])['listOfAllCompleted'];
    var currentlySelectedGroup = JSON.parse({{data|safe}}['current_interaction'])['currentlySelectedGroup'];

    console.log(JSON.parse({{data|safe}}['current_interaction']))

    var selectedPositive = JSON.parse({{data|safe}}['current_interaction'])['selectedPositive'];

    var wellPlate = JSON.parse({{data|safe}}['current_interaction'])['wellPlate'];
    var processStep = {{ data|safe }}['step_num'];

    var userNotes = {{ data|safe }}['user_notes'];


    function nextPlate() {
        var count = 0;
        for (var index = 0; index < groupedPools.length; index++)
        {
            for (var item = 0; item < groupedPools[index].length; item++)
            {
                count++;
            }
        }

    }

    function createTestTubes() {



        var count = 1;
        for (var index = 0; index < groupedPools.length; index++, count++)
            {

            var div = document.createElement("div");
            div.classList.add("img-with-text");


            var input = document.createElement("input");

            input.type = "image"
            input.src = '{% static 'imageInteraction/testTube_empty.png' %}';

            input.id = "testTubeGroup_" + (index + 1);

            input.setAttribute("onclick","updateTestTube(this);");

            input.classList.add('testTubeGroup');


            var para = document.createElement("center");
            para.innerText = "" + processStep + "-" + wellPlate + "." + count;


            div.appendChild(input);
            div.appendChild(para);
            div.setAttribute("display","inline");

            document.getElementById('testTubeBottom').appendChild(div);


            if (count % 10 == 0)
                {
                    var breakPoint = document.createElement("br");
                    document.getElementById('testTubeBottom').append(breakPoint);
                }
            }

    }

    function updateTestTube(input)
    {
        if (complete == true) return;
        if (checkCompletion())
            {
                var id = input.id;
                if (document.getElementById(id).src.includes("{% static 'imageInteraction/testTube_nonpositive.png' %}"))
                    {
                        document.getElementById(id).src = input.src.replace("{% static 'imageInteraction/testTube_nonpositive.png' %}", "{% static 'imageInteraction/testTube_positive.png' %}");

                        var groupNum = id.substring((14));
                        var groupSelected = groupedPools[groupNum - 1]
                        for (var index = 0; index < groupSelected.length; index++)
                        {
                            anchor = document.getElementById(groupSelected[index] + "-anchor");
                            anchor.setAttribute("data-highlight", "positive");
                        }

                    }
                else
                    {
                        document.getElementById(id).src = input.src.replace("{% static 'imageInteraction/testTube_positive.png' %}", "{% static 'imageInteraction/testTube_nonpositive.png' %}");
                        var groupNum = id.substring((14));
                        var groupSelected = groupedPools[groupNum - 1]
                        for (var index = 0; index < groupSelected.length; index++)
                        {
                            anchor = document.getElementById(groupSelected[index] + "-anchor");
                            anchor.setAttribute("data-highlight", "complete");
                        }

                    }
            }
    }

    function checkCompletion() {

        if (JSON.stringify(groupedPools) === JSON.stringify(listOfAllCompleted))
            {
                return true;
            }
        return false;
    }

    function generateTitle() {
        document.getElementById("titleHeader").innerHTML = "Step " + processStep + ", Group " + currentGroup + ": Protocol " +  {{ data|safe }}['protocol_used']
    }

    function setActiveGroup() {
        // get the active items at the current group minus 1 because arrays index at 0
        listOfActiveItems = groupedPools[currentGroup - 1];

        generateTitle();

        if (listOfActiveItems == null)
            {
                return;
            }

        for (var i = 0; i < listOfActiveItems.length; i ++)
            {
                img = document.getElementById(listOfActiveItems[i]);
                document.getElementById(listOfActiveItems[i]).src = img.src.replace("{% static 'imageInteraction/WellImage_empty.PNG' %}", "{% static 'imageInteraction/WellImage_active.png' %}");
            }
        testTube = document.getElementById("testTubeGroup_" + currentGroup)
        document.getElementById("testTubeGroup_" + currentGroup).src = testTube.src.replace("{% static 'imageInteraction/testTube_empty.png' %}", "{% static 'imageInteraction/testTube_active.png' %}");

    }

    function arraysEqual(a, b) {
        if (a === b) return true;
        if (a == null || b == null) return false;
        if (a.length !== b.length) return false;

        // If you don't care about the order of the elements inside
        // the array, you should sort both arrays here.
        // Please note that calling sort on an array will modify that array.
        // you might want to clone your array first.

        a.sort();
        b.sort();

        for (var i = 0; i < a.length; ++i) {
            if (a[i] !== b[i]) return false;
        }
  return true;
    }

    function arrayRemove(arr, value) {

        return arr.filter(function(ele){
            return ele != value;
        });
    }

    function isNext() {

        img = document.getElementById(currentlySelectedGroup[0]);

        currentlySelectedGroup = [...new Set(currentlySelectedGroup)]

        if (arraysEqual(currentlySelectedGroup, groupedPools[currentGroup-1]))
            {
            currentGroup += 1;
            replaceWithGrey(img);
            listOfAllCompleted.push(currentlySelectedGroup);
            currentlySelectedGroup = [];
            setActiveGroup();
            }

        if (checkCompletion())
            {
                var numberOfGroups = groupedPools.length;
                for (var i = 1; i <= numberOfGroups; i++)
                    {
                        if (document.getElementById("testTubeGroup_" + i).src.includes("{% static 'imageInteraction/testTube_positive.png' %}"))
                            {
                                selectedPositive.push(i);
                            }
                    }
                if (selectedPositive.length != 0)
                    {
                        if (confirm("You have selected the following groups:\n" + selectedPositive))
                            {
                                console.log("THe selected positives are: " + selectedPositive)
                                alert("Moving to next stage");
                                if (processStep == 1) {
                                    doStageTwo();
                                }
                                else if (processStep == 2)
                                {
                                    doStageThree();
                                }
                            /*    else
                                {
                                    var element = document.getElementById("nextButton");
                                    element.innerHTML = "Done";
                                    element.onclick = "finishExperiment();"
                                } */

                            }
                        else
                            {
                                alert("Not moving to next stage");
                                selectedPositive = [];
                            }
                    }



            }
    }

    function replaceWithGrey() {

         if (complete == true) return;


        for (var i = 0; i < currentlySelectedGroup.length; i ++)
            {
                img = document.getElementById(currentlySelectedGroup[i]);
                anchor = document.getElementById(currentlySelectedGroup[i] + "-anchor");
                anchor.setAttribute("data-highlight", "complete");
                document.getElementById(currentlySelectedGroup[i]).src = img.src.replace("{% static 'imageInteraction/WellImage_filled.png' %}", "{% static 'imageInteraction/WellImage_filledgrey.png' %}");
            }
        testTube = document.getElementById("testTubeGroup_" + (currentGroup - 1));
        document.getElementById("testTubeGroup_" + (currentGroup - 1)).src = testTube.src.replace("{% static 'imageInteraction/testTube_active.png' %}", "{% static 'imageInteraction/testTube_nonpositive.png' %}");
    }


    function changeImage(img) {
        if (complete == true) return;

        generateTitle();

        var id = img.id;


        if (document.getElementById(id).src.includes("{% static 'imageInteraction/WellImage_active.png' %}"))
            {

                if ( groupedPools[currentGroup - 1].includes(id) )
                    {

                    currentlySelectedAll.push(id);
                    currentlySelectedGroup.push(id);
                    document.getElementById(id).src = img.src.replace("{% static 'imageInteraction/WellImage_active.png' %}", "{% static 'imageInteraction/WellImage_filled.png' %}");
                    }


            }
        else
            {
                if ( id.includes(currentGroup) )
                    {
                        document.getElementById(id).src = img.src.replace("{% static 'imageInteraction/WellImage_filled.png' %}", "{% static 'imageInteraction/WellImage_active.png' %}");


                        for (var i = 0; i < currentlySelectedGroup.length; i++)
                            {
                                if (currentlySelectedGroup[i] == id)
                                    {
                                        currentlySelectedGroup = arrayRemove(currentlySelectedGroup, id);
                                    }
                            }
                        for (var i = 0; i < currentlySelectedAll.length; i++)
                            {
                                if (currentlySelectedAll[i] == id)
                                    {
                                        currentlySelectedAll = arrayRemove(currentlySelectedAll, id);
                                    }
                            }
                        //currentlySelectedGroup = [];
                    }
            }
    }

function postToDB() {


    const urlParams = new URLSearchParams(window.location.search);
    const myParam = urlParams.get('exp');

    console.log("Selected Positive:" + selectedPositive)

    let request = new XMLHttpRequest();
    var post_data = JSON.stringify({
    "completed_status": false,
    "user_notes": JSON.stringify(userNotes),
    "step_num": processStep,
    "current_interaction":JSON.stringify({
        "wellPlate": wellPlate,
        "pythonDictAllStages": pythonDictAllStages,
        "currentlySelectedAll": currentlySelectedAll,
        "listOfAllCompleted": listOfAllCompleted,
        "currentlySelectedGroup": currentlySelectedGroup,
        "selectedPositive": selectedPositive,
        "currentGroup": currentGroup,
      })
    });


      request.open("PUT", "http://127.0.0.1:8000/api/experiment/" + myParam +"/");
      request.setRequestHeader('Content-type','application/json');
      request.send(post_data);
      request.onload = () => {
          console.log(request);
          if (request.status === 200) {
              console.log(JSON.parse(request.response));
            } else {
              console.log('error ${request.status} ${request.statusText}');
            }
          }
          /*
          fetch('http://127.0.0.1:8000/', {method: 'POST', body: 'test123'})
          .then(results=> results.json())
          .then(console.log);
          */
          /*
          var xhttp = new XMLHttpRequest();
          // TODO Figure out why this is like this
          xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
          document.getElementById("demo").innerHTML = this.responseText;
        }
      };
      xhttp.open("POST", TODO ADD FILE NAME, true);
      xhttp.send();
      */

        window.alert("Data has been saved");
        window.close();
    }

    function doStageTwo (){
         if (complete == true) return;

        groupedPools = [];

        for (var index = 0; index < selectedPositive.length; index++)
            {

                for (var innerIndex = 0; innerIndex < pythonDictAllStages['1'][selectedPositive[index] - 1].length; innerIndex++)
                {
                    groupedPools.push(pythonDictAllStages['1'][selectedPositive[index] - 1][innerIndex]);
                }

            }

        wipeTheBoard();
        createTestTubes();
        setActiveGroup();


    }

    function doStageThree () {
         if (complete == true) return;

        var stageTwoPools = groupedPools;
        var toAddArr = [];

        groupedPools = [];

        for (var outer = 0; outer < selectedPositive.length; outer++)
        {
            for (var inner = 0; inner < stageTwoPools[outer].length; inner++)
            {
                toAddArr = [];
                var toAdd = stageTwoPools[selectedPositive[outer] - 1][inner]

                if (typeof (toAdd) == "string"){
                    toAddArr.push(toAdd)


                    groupedPools.push(toAddArr)
                }
            }
        }



        wipeTheBoard();
        createTestTubes();
        setActiveGroup();

    }


    function wipeTheBoard() {
         if (complete == true) return;

        document.getElementById("testTubeBottom").innerHTML = "";
        var allWells = ['A1', 'B1', 'C1', 'D1', 'E1', 'F1', 'G1', 'H1', 'A2', 'B2', 'C2', 'D2', 'E2', 'F2', 'G2', 'H2', 'A3', 'B3', 'C3', 'D3', 'E3', 'F3', 'G3', 'H3', 'A4', 'B4', 'C4', 'D4', 'E4', 'F4', 'G4', 'H4', 'A5', 'B5', 'C5', 'D5', 'E5', 'F5', 'G5', 'H5', 'A6', 'B6', 'C6', 'D6', 'E6', 'F6', 'G6', 'H6', 'A7', 'B7', 'C7', 'D7', 'E7', 'F7', 'G7', 'H7', 'A8', 'B8', 'C8', 'D8', 'E8', 'F8', 'G8', 'H8', 'A9', 'B9', 'C9', 'D9', 'E9', 'F9', 'G9', 'H9', 'A10', 'B10', 'C10', 'D10', 'E10', 'F10', 'G10', 'H10', 'A11', 'B11', 'C11', 'D11', 'E11', 'F11', 'G11', 'H11', 'A12', 'B12', 'C12', 'D12', 'E12', 'F12', 'G12', 'H12']

        for (var index = 0; index < allWells.length; index++)
        {
            var id = allWells[index];
            document.getElementById(id).src = "{% static 'imageInteraction/WellImage_empty.PNG' %}";
            var anchor = document.getElementById("" + id + "-anchor");
            anchor.setAttribute("data-highlight", "incomplete");
        }
        listOfAllCompleted = [];
        currentGroup = 1;
        selectedPositive = [];
        processStep++;

    }

    function finishExperiment() {
         if (complete == true) return;

        if(confirm("Are you sure you would like to finish the experiment? \n\n All changes will be lcoked if you select yes."))
        {
            complete = true;
            postToDB();
        }
        else
        {
            // do nothing
            return;
        }
    }

    function updateFromSave() {
    for (var j = 0; j < listOfAllCompleted.length; j++)
    {
  for (var i = 0; i < listOfAllCompleted[j].length; i ++)
      {
          var img = document.getElementById(listOfAllCompleted[j][i]);
          var anchor = document.getElementById(listOfAllCompleted[j][i] + "-anchor");
          anchor.setAttribute("data-highlight", "complete");
          document.getElementById(listOfAllCompleted[j][i]).src = "{% static 'imageInteraction/WellImage_filledgrey.png' %}";
      }
        var testTube = document.getElementById("testTubeGroup_" + (j + 1));
        testTube.src = "{% static 'imageInteraction/testTube_nonpositive.png' %}";
    }
    for (var i = 0; i < currentlySelectedGroup.length; i++)
    {
        var img = document.getElementById(currentlySelectedGroup[i]);
        img.src =  "{% static 'imageInteraction/WellImage_filled.png' %}"
    }

    console.log(selectedPositive.length)
    for (var i = 0; i < selectedPositive.length; i++)
    {
        var testTube = document.getElementById("testTubeGroup_" + selectedPositive[i]);
        //console.log(testTube)
        testTube.src =  "{% static 'imageInteraction/testTube_positive.png' %}"
    }


}


    function notesFunction() {

        var date = new Date().toISOString().substr(0, 19).replace('T', ' ');

        userNotes[(document.getElementById("notesEnter").value)] = JSON.stringify({
        "current_interaction": {
            "wellPlate": wellPlate,
            "pythonDictAllStages": pythonDictAllStages,
            "currentlySelectedAll": currentlySelectedAll,
            "listOfAllCompleted": listOfAllCompleted,
            "currentlySelectedGroup": currentGroup,
            "selectedPositive": selectedPositive,
            "currentGroup": currentGroup,
            "step_num": processStep,
                },
        "noteDateTime" : date,
            }
        )

        window.alert("Note: " + document.getElementById("notesEnter").value + ", was successfully added.");

        document.getElementById("notesEnter").value = "Enter Your Notes Here";
    }
</script>
</html>
